services:
  minio:
    image: minio/minio
    container_name: minio
    environment:
      MINIO_ROOT_USER: meuuserminio
      MINIO_ROOT_PASSWORD: minhasenhaminio
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000" # MinIO API port
      - "9001:9001" # MinIO Console port
    command: server /data --console-address ":9001"

volumes:
  minio_data:
